*{margin:0;padding:0;border:0;}
.nav{
	margin:0 auto;
	width:1080px;
	height:59px;
	background:#2c81c8;
}
.logo_area{
	float:left;
}
.main_nav{
	float:left;
	margin-left:30px;
	height:59px;
}
.main_nav li{
	margin-left:20px;
	height:59px;
	width:100px;
	line-height:59px;
	text-align:center;
	list-style:none;
	float:left;
}
.main_nav li a{
	display:block;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:18px;
}
.main_nav li a.c_in{
	background:#fff;
	color:#2c81c8;
}
.p_data{
	float:right;
	margin-right:20px;
}
.p_data li{
	float:left;
	margin-right:15px;
	list-style:none;
	height:59px;
	line-height:59px;

}
.p_data li img{
	position:relative;
	top:3px;
}
.p_data li a{
	text-decoration:none;
	color:#fff;
}
li.admin_l{
	position:relative;
	height:59px;
}
.admin_a{
	display:inline-block;
	background:#2c81c8;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
}
.admin_s_l{
	display:none;
	position:absolute;
	top:59px;
	left:0px;
}
.admin_s_l li{
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	background:#2c81c8;
}
.admin_s_l li a{
	display:inline-block;
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:14px;
}

.clear{
	clear:both;
}

.c_upload{
	margin:0 auto;
	margin-top:30px;
	width:1080px;

}
.n_lo{
	margin-left:110px;
	color:#777;
}
.n_lo a{
	margin-right:5px;
	text-decoration:none;
	color:#2c81c8;
}
.n_list {
	margin-top:15px;
	margin-left:150px;
}
.n_list li{
	float:left;
	height:30px;
	line-height:30px;
	margin-right:40px;
	list-style:none;
	font-size:18px;
}
.n_list li a{
	text-decoration:none;
	color:#777;
}
li.c_link{
	
	border-bottom:2px solid #2c81c8;
}
li.c_link a{
	color:#2c81c8;
}
.n_list ul{
	float:left;
}
.up_btn{
	float:right;
	margin-right:30px;
}
.up_btn a{
	display:block;
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	background:#2c81c8;
	color:#fff;
}
.data_list{
	margin:0 auto;
	margin-top:20px;
	width:860px;
}
.l_f_ul{
	border-top:1px solid #a0a0a0;
} 
.l_f_ul li{
	float:left;
	list-style:none;
}
.list_li{
	width:860px;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #a0a0a0;
	
}

li.vn,li.dn,li.zt{

	text-indent:2em;
}
li.dw{
	float:right;
	margin-right:20px;
	cursor:pointer;
}
li.del{
	float:right;
	margin-right:30px;
	cursor:pointer;
}

