*{margin:0;padding:0;border:0;}
.nav{
	margin:0 auto;
	width:1080px;
	height:59px;
	background:#2c81c8;
}
.logo_area{
	float:left;
}
.main_nav{
	float:left;
	margin-left:30px;
	height:59px;
}
.main_nav li{
	margin-left:20px;
	height:59px;
	width:100px;
	line-height:59px;
	text-align:center;
	list-style:none;
	float:left;
}
.main_nav li a{
	display:block;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:18px;
}
.main_nav li a.c_in{
	background:#fff;
	color:#2c81c8;
}
.p_data{
	float:right;
	margin-right:20px;
}
.p_data li{
	float:left;
	margin-right:15px;
	list-style:none;
	height:59px;
	line-height:59px;

}
.p_data li img{
	position:relative;
	top:3px;
}
.p_data li a{
	text-decoration:none;
	color:#fff;
}
li.admin_l{
	position:relative;
	height:59px;
}
.admin_a{
	display:inline-block;
	background:#2c81c8;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
}
.admin_s_l{
	display:none;
	position:absolute;
	top:59px;
	left:0px;
}
.admin_s_l li{
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	background:#2c81c8;
}
.admin_s_l li a{
	display:inline-block;
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:14px;
}

.clear{
	clear:both;
}
.e_paper{
	margin:0 auto;
	margin-top:30px;
	width:1080px;
}
.paper_t{
	font-size:20px;
	text-align:center;
	color:#2c81c8;
}
.paper_data{
	margin:10px 0 30px 380px;
}
.paper_data li{
	margin-right:80px;
	float:left;
	list-style:none;
	color:#777;
	font-size:17px;
}
.p_c_ul{
	margin-left:100px;
}
.p_c_ul li{
	margin-bottom: 20px;
	list-style:none;
	color:#777;
	font-size:17px;
}

.a_choose{
	margin-bottom:10px;
}
.a_choose input{
	width:20px;
	height:20px;
}
.a_choose span{
	position:relative;
	margin-left:5px;
	bottom:4px;
	font-size:16px;
}
.exam_c{
	margin-top:20px;
	margin-left:50px;
}
.sub_btn{
	width:170px;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
}
.sub_btn input{
	display: block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2c81c8;
    color: #fff;
    cursor: pointer;
    text-decoration: none
}