*{margin:0;padding:0;border:0;}
.nav{
	margin:0 auto;
	width:1080px;
	height:59px;
	background:#2c81c8;
}
.logo_area{
	float:left;
}
.main_nav{
	float:left;
	margin-left:30px;
	height:59px;
}
.main_nav li{
	margin-left:20px;
	height:59px;
	width:100px;
	line-height:59px;
	text-align:center;
	list-style:none;
	float:left;
}
.main_nav li a{
	display:block;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:18px;
}
.main_nav li a.c_in{
	background:#fff;
	color:#2c81c8;
}
.p_data{
	float:right;
	margin-right:20px;
}
.p_data li{
	float:left;
	margin-right:15px;
	list-style:none;
	height:59px;
	line-height:59px;

}
.p_data li img{
	position:relative;
	top:3px;
}
.p_data li a{
	text-decoration:none;
	color:#fff;
}
li.admin_l{
	position:relative;
	height:59px;
}
.admin_a{
	display:inline-block;
	background:#2c81c8;
	width:100px;
	height:59px;
	line-height:59px;
	text-align:center;
}
.admin_s_l{
	display:none;
	position:absolute;
	top:59px;
	left:0px;
}
.admin_s_l li{
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	background:#2c81c8;
}
.admin_s_l li a{
	display:inline-block;
	width:100px;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:14px;
}

.clear{
	clear:both;
}
.class_data{
	margin:0 auto;
	margin-top:50px;
	width:950px;
}
.d_title{
	border-bottom:1px solid #a0a0a0;
}
.d_title li{
	list-style:none;
	float:left;
}
.c_name{
	height:55px;
	line-height:55px;
	width:350px;
	text-align:center;
	color:#2c81c8;
}
.download_v{
	height:55px;
	line-height:55px;
	width:200px;
	text-align:center;
	color:#2c81c8;
}
.p_loca{
	margin:0 auto;
	margin-top:30px;
	padding-left:130px;
	width:1080px;
}
.p_loca a {
	margin-right: 10px;
	text-decoration: none;
}
.download_d{
	height:55px;
	line-height:55px;
	width:200px;
	text-align:center;
	color:#2c81c8;
}
.download_e{
	height:55px;
	line-height:55px;
	width:200px;
	text-align:center;
	color:#2c81c8;
}
.d_l_li{
	list-style:none;
	border-bottom:1px solid #a0a0a0;
}
.d_l_li li{
	float:left;
	list-style:none;
}
.c_name{
	width: 350px;
	height:55px;
	line-height:55px;
	text-align:center;
}
.c_name a{
	text-decoration:none;
	color:#000;
}
.dwl{
	width: 200px;
	height:55px;
	line-height:55px;
	text-align:center;
}
.dwl a{
	display:block;
	width:200px;
	height:55px;
	line-height:55px;
	text-decoration:none;
	color: #777;
}
.dwl a img{
	position:relative;
	top:7px;
}
